{
  "cards": {
    "header": {
      "title": "[<%= orgName %>] <%= alert['status'].upcase %>: <%= alert['monitorName'] %>",
      "subtitle": "<%= Time.at(alert['openedAt'].to_i).strftime('%m/%d %H:%M') %> に発生<% if alert['closedAt'] %>、<%= Time.at(alert['closedAt'].to_i).strftime('%m/%d %H:%M') %> に解決<% end %>"
    },
    "sections": [
      {
        "widgets": [
          {
            "textParagraph": {
              "text": "<a href=\"<%= alert['url'] %>\">アラートを見る</a>"
            }
          }
        ]
      }<% if imageUrl %>, {
        "widgets": [
          {
            "image": {
              "imageUrl": "<%= imageUrl %>",
              "onClick": {
                "openLink": {
                  "url": "<%= alert['url'] %>"
                }
              }
            }
          }
        ]
      }<% end %><% if memo %>, {
        "widgets": [
          {
            "textParagraph": {
              "text": "<%= memo %>"
            }
          }
        ]
      }
    <% end %>]
  }
}
